* {
    box-sizing:border-box;
    font-size: 0px;
}

.col-12 {
    height: 100px;
    display: inline-block;
    width: 100%;
    background-color: #F5C6D6;
    border: 10px solid white;
}

.col-3 {
    height: 100px;
    display: inline-block;
    width: 25%;
    border: 10px solid white;
    background-color: #EE2E84;
}

.col-6 {
    height: 100px;
    display: inline-block;
    width: 50%;
    border: 10px solid white;
    background-color: #85CFD8;
}

.col-9 {
    height: 100px;
    display: inline-block;
    width: 75%;
    border: 10px solid white;
    background-color: #8DC63F;
}

#col-3 {
    height: 100px;
    display: inline-block;
    width: 25%;
    border: 10px solid white;
    background-color: #E76E34;
}