h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    color:darksalmon;
}
table {
    border: solid 1px orange;
    font-size: 30px;
    font-family: Georgia;
    color: coral;
    
}
tr:nth-child(odd) {
    background-color: peachpuff;
}

th {
    background: beige;
}
