div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 100px;
}

* {
background-color: 85C691;
    font-family: 'Ubuntu', sans-serif;
    
}

h1 {
    color: 0009FF;
    margin-bottom: 5%;
    font-size: 60px;
}

.first {
    color: B20CE8;
}
.second {
    color: E8690C;
}
.third {
    color: FFC60D;
}