.header {
    height: 200px;
    background-color: dodgerblue;
    /*
    margin-left: 200px;
    margin-right: 200px;
*/
}

.inputs {
    position: relative;
    left: %;
    margin-top: 3%;
}

button {
    margin-top: 20px;
}

.img {
    height: 300px;
    width: 250px;
    position: relative;
}