
.parallax {
    background-image: url(css/vote.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.8;
    font-family: 'Concert One', cursive;
    
}
@media only screen and (min-width: 768px) {
    .parallax {
        height: 60vh;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .parallax {
        height: 60vh;
    }
}

/*@media only screen and (max-width: 767px) and (orientation: portrait) {*/
    /*!* portrait phones *!*/
/*}*/



.post {
    text-align: center;
    margin-bottom: 3px;
}
/*
.whole {
    text-align: center;
    padding: 70px 0;
}
*/

.issuebox {
    font-family: 'Open Sans';
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 8%;
}

.odd a {
    color: red;
}
.odd a:hover {
    color: blue;
}
.even a {
    color: blue;
}
.even a:hover {
    color: red;
}
